.landingpageDark {
  background: #000428; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #000000,
    #232526
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #000000,
    #232526
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  background-size: 500% 500%;
  background-position: 500%;
  animation: gradientdark 20s ease infinite;
  height: 100vh;
  color: white;
}

.landingpageLight {
  background: #000428; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #e0eafc,
    #cfdef3
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #e0eafc,
    #cfdef3
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  background-size: 500% 500%;
  background-position: 500%;
  animation: gradientlight 20s ease infinite;
  height: 100vh;
  color: black;
}

@keyframes gradientdark {
  0% {
    background-position: 0%;
  }
  50% {
    background-position: 100%;
  }
  100% {
    background-position: 0%;
  }
}

@keyframes gradientlight {
  0% {
    background-position: 0%;
  }
  50% {
    background-position: 100%;
  }
  100% {
    background-position: 0%;
  }
}

.animation {
  height: 55px;
  overflow: hidden;
  margin-left: 1rem;
}

.animation > div > div {
  padding: 0.25rem 0.75rem;
  height: 3rem;
  margin-bottom: 2.75rem;
  display: inline-block;
}

.animation div:first-child {
  animation: text-animation 8s infinite;
}

@keyframes text-animation {
  0% {
    margin-top: 0;
  }
  10% {
    margin-top: 0;
  }
  20% {
    margin-top: -5.5rem;
  }
  30% {
    margin-top: -5.5rem;
  }
  40% {
    margin-top: -11rem;
  }
  60% {
    margin-top: -11rem;
  }
  70% {
    margin-top: -5.5rem;
  }
  80% {
    margin-top: -5.5rem;
  }
  90% {
    margin-top: 0;
  }
  100% {
    margin-top: 0;
  }
}

.glassEffectDark {
   backdrop-filter: blur(7px) saturate(200%);
    -webkit-backdrop-filter: blur(7px) saturate(200%);
    background-color: rgba(0, 0, 0, 0.25);
    
}

.glassEffectWhite{
  backdrop-filter: blur(7px) saturate(180%);
    -webkit-backdrop-filter: blur(7px) saturate(180%);
    background-color: rgba(255, 255, 255, 0.34);
   

}